#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}




.container-fluid{
  padding:7% 15%;
}
#title .container-fluid{
  padding-top: 3%;
}
body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}


/* Heading */
.big-heading{

  font-size: 4rem;
  line-height: 1.5;

}
.section-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}
/* NAVBAR */

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.2rem;
  font-weight: bold;

}
.navbar{
  padding-bottom:4.5rem ;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: 400;

}

.nav-item{
  padding: 0 18px;
}


/* Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


/* IMAGES */
.title-img{
  transform: rotate(25deg);
  width: 57%;
  position: absolute;
  right: 24%;
}


/* Media query breakpoints */
@media (max-width:1170px){
  .title-img{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align:center;
  }
}

@media (min-width:992px) and (max-width:1170px){
  .title-img{
    padding-top: 40px;
    padding-left: 0;
  }
}


/*  Features with icons */

#features{

  position: relative;
  background-color: #fff;
}

.feature-div{
padding-bottom: 8%;
}
.feature-icon{
  color: #ef8172;
}
.feature-icon:hover{
  color: #ff4c68;
}
.feature-h3{
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 1.2rem;
  padding-bottom: 0.1rem;
}

.feature-p{
  width: 60%;
  margin: auto;
  color: #8f8f8f;
}


/* Testimonials section */
#testimonials{
  background-color: #ef8172;
  position: relative;
    color: #fff;
}

.testimonial-propic{
  width: 10%;
  border-radius: 100%;

  margin: 20px;
}

.testimonial-h2{
  font-size: 3.5rem;
  line-height: 1.5;
}

.carousel-inner{

}
/* Press section */

#press{
  position: relative;
  background-color: #ef8172;
}

.press-img{
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing{
  padding:100px;
}

.pricing-col{
  padding: 3% 2%;
}

.pricing-header{
  font-size: 3.5rem;
  line-height: 1.5;
}
.pricing-package{
  font-size: 1.5rem;

  padding-top: 1.2rem;
  padding-bottom: 0.1rem;
}
/* Call to Action */

#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 20% 5%;
}



/* footer */
#footer{
  padding: 7% 15% 5%;
}
.footer-p{
  color: #8f8f8f;
  font-size: 1.5rem;
}
.footer-icon{
  padding: 20px 10px 20px 10px;

}
